{% if Object.keys(data).length %}
<h4 style="margin-top: 20px; margin-bottom: 10px">Balance Details</h4>

<table
  class="table table-bordered small"
  style="width: 100%; border-collapse: collapse"
>
  <thead>
    <tr>
      <th style="width: 25%">Account Type</th>
      <th style="width: 10%" class="text-right">Currency</th>
      <th style="width: 15%" class="text-right">Current</th>
      <th style="width: 15%" class="text-right">Available</th>
      <th style="width: 15%" class="text-right">Reserved</th>
      <th style="width: 15%" class="text-right">Uncleared</th>
    </tr>
  </thead>

  <tbody>
    {% for (const [key, value] of Object.entries(data)) { %}
    <tr>
      <td>{{ key }}</td>
      <td class="text-right">{{ value.currency }}</td>
      <td class="text-right">{{ value.current_balance }}</td>
      <td class="text-right">{{ value.available_balance }}</td>
      <td class="text-right">{{ value.reserved_balance }}</td>
      <td class="text-right">{{ value.uncleared_balance }}</td>
    </tr>
    {% } %}
  </tbody>
</table>

{% else %}
<p style="margin-top: 30px">Account Balance Information Not Available.</p>
{% endif %}
